<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>JobChange</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.min.css">
  </head>

<body>
  <header>
    <%- include('./common/header') %>    
  </header>

  <div id="app">
    <div class="container" style="padding: 10px 0px;padding-top: 30px;">
      <h6>
        <a href="/top">Topへ戻る</a>
      </h6>  
    </div>
    <div class="container" style="padding: 10px 0px;padding-top: 30px;">
      <h2>
        <input type="text" v-model:value="c_name">
        <button type="button" class="btn btn-primary" @click='updateContent("c_name")' style="margin-left: 10px;">更新</button>
      </h2>
      <h6>(<a v-bind:href="url" target="_blank" rel="noopener noreferrer">HP</a>)</h6>
    </div>
    <div class="container" style="padding: 10px 0px;padding-top: 0px;">
      <input type="text" v-model:value="url">
        <button type="button" class="btn btn-primary" @click='updateContent("url")' style="margin-left: 10px;">更新</button>
    </div>

    <div class="container" style="padding: 10px 0px;padding-top: 20px;">
      <h4>募集内容
        <button type="button" class="btn btn-primary" @click='updateContent("application_requirement")' style="margin-left: 10px;">更新</button>
      </h4>
      <div style="padding: 0px 10px;">
        <textarea rows="10" v-model:value="application_requirement" style="width: 90%;"></textarea>
      </div>
    </div>

    <div class="container" style="padding: 10px 0px;padding-top: 15px;">
      <h4>
        分析メモ 
        <button type="button" class="btn btn-primary" @click='updateContent("analysis_memo")' style="margin-left: 10px;">更新</button>
      </h4>
      <div style="padding: 10px 10px;">
        <textarea rows="10" v-model:value="analysis_memo" style="width: 90%;"></textarea>
      </div>
    </div>

    <div class="container" style="padding: 10px 0px;padding-top: 15px;">
      <h4>選考状況：
        <input type="text" v-model:value="selection_status">
        <button type="button" class="btn btn-primary" @click='updateContent("selection_status")' style="margin-left: 10px;">更新</button>
      </h4>
      <p>
        (プルダウンにしたいけどとりあえずコピペしてください)<br>
        00:ご縁なし（書類）  01:ご縁なし（1次面接）  02:ご縁なし（2次面接）  03:ご縁なし（3次面接~）<br>
        10:書類提出済み 11:書類通過<br>
        20:面接（1次）通過<br>
        30:面接（2次）通過<br>
        40:面接（3次~）通過<br>
        50:面接（内定）</p>
    </div>

    <div class="container" style="padding: 10px 0px;padding-top: 15px;">
      <h6>次回選考日（期日）：
        <input type="text" v-model:value="selection_next_date">
        <button type="button" class="btn btn-primary" @click='updateContent("selection_next_date")'
          style="margin-left: 10px;">更新</button>
      </h6>
    </div>

    <div class="container" style="padding: 10px 0px;padding-top: 15px;">
      <h6>次回選考内容：
        <input type="text" v-model:value="selection_next_content">
        <button type="button" class="btn btn-primary" @click='updateContent("selection_next_content")'
          style="margin-left: 10px;">更新</button>
      </h6>
    </div>

    <div class="container" style="padding: 10px 0px;padding-top: 15px;">
      <h4>
        選考メモ
        <button type="button" class="btn btn-primary" @click='updateContent("selection_memo")' style="margin-left: 10px;">更新</button>
      </h4>
      <div style="padding: 10px 10px;">
        <textarea rows="10" style="width: 90%;" v-model:value="selection_memo"></textarea>
      </div>
    </div>
  </div>

  <script src="../javascripts/jquery.min.js"></script>
  <script src="../javascripts/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        id : `<%= comp.id %>`,
        c_name: `<%= comp.c_name %>`,
        url: `<%= comp.url %>`,
        application_requirement: `<%- comp.application_requirement %>`,
        analysis_memo: `<%- comp.analysis_memo %>`,
        selection_status: `<%= comp.selection_status %>`,
        selection_next_date: `<%= comp.selection_next_date %>`,
        selection_next_content: `<%= comp.selection_next_content %>`,
        selection_memo: `<%= comp.selection_memo %>`,
      },
      methods: {
        updateContent: function (item) {

          console.log(`compid : ${ this.id }`);
          console.log(`update : ${ item }`);

          comp_id = this.id ;
          var content;

          // 更新内容の取得
          if(item == 'c_name'){
            content = this.c_name;
          
          } else if(item == 'url'){
            content = this.url;

          } else if (item == 'application_requirement') {
            content = this.application_requirement;
          
          } else if (item == 'analysis_memo') {
            content = this.analysis_memo;

          } else if (item == 'selection_status') {
            content = this.selection_status

          } else if (item == 'selection_next_date') {
            content = this.selection_next_date
          
          } else if (item == 'selection_next_content') {
            content = this.selection_next_content
          
          } else if (item == 'selection_memo') {
            content = this.selection_memo
          }

          // APIへの更新リクエスト
          fetch(`/api/v1/company/update`, {
            method: 'post',
            mode: 'same-origin',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
              comp_id: comp_id,
              content: content,
              item: item,
            })
          })
          .then(res => {
            return res.json();
          })
          .then(json => {

            console.log(json.result);

            if (json.result == 'error') {
              alert('update error.')
              window.location.reload();
              return;
            }

            alert('update success.')            
            window.location.reload();
            return;
          });
        }
      },
    });
  </script>
</body>

</html>